<aside>
  <div id="side_menu" class="side_menu" [ngClass]="{ 'collapsed': filterService.isCollapsed }">
    <ul class="menu">
      <li class="menu-item">
        <div class="setThematicFilter" *ngFor="let thematic of filterService.thematics | keyvalue">
          <input type="checkbox" name="input_{{thematic.key}}" id="input_{{thematic.key}}" [value]="thematic.key"
            [(ngModel)]="filterService.checkedThematics[thematic.key]"
            (ngModelChange)="setThematicFilter(thematic.key)"/>
          <label>{{ thematic.value.name }}</label>
        </div>
      </li>
      <li class="menu-item" *ngFor="let service of filterService.services | keyvalue">
        <div class="input_wrapper">
          <input name="input_{{service.key}}" id="input_{{service.key}}" type="checkbox" [(ngModel)]="filterService.checkedServices[service.key]" (ngModelChange)="isAllChecked()"/>
          <label>{{ service.value.name }}</label>
        </div>
      </li>
    </ul>

    <div class="toggle-sidebar" (click)="toggleSidebarMenu()">
        <i class="fas fa-chevron-right arrow-icon"></i>
    </div>
  
  </div>
</aside>