
  <div id="side_menu" class="side_menu" [ngClass]="{ 'collapsed': filterService.isCollapsed }">
    <div class="menu">
      <div *ngIf="filterService.checkedServices.length > 0 || filterService.checkedThematics.length > 0" class="reset_btn" >
        <span>Filtre</span>
        <span (click)="resetFilter()">Tout effacer</span>
      </div>
      <details>
        <summary>
          <span>Thematiques</span>
          <i class="pi pi-chevron-down"></i>
        </summary>
        <ul class="menu-item thematic_container" >
          <li class="input_wrapper" *ngFor="let thematic of filterService.thematics">
            <div class="thematic">
              <input name="input_{{thematic.name}}" id="input_{{thematic.id}}" type="checkbox"  (change)="onCheckboxChange($event, thematic.id, true)" />
              <label for="input_{{thematic.id}}" >{{ thematic.name }}</label>
            </div>
            <div [style.background-color]="thematic.color" class="puce"></div>
          </li>
        </ul>
      </details>

      <details open>
        <summary>
          <span>Services</span>
          <i class="pi pi-chevron-down"></i>
        </summary>
        <ul class="menu-item">
          <li class="input_wrapper" *ngFor="let service of filterService.servicesFilter">
            <input name="services_{{service.name}}" id="services_{{service.id}}" type="checkbox"  (change)="onCheckboxChange($event, service.id, false)"/>
            <label for="services_{{service.id}}">{{ service.name }}</label>
          </li>
        </ul>
    </details>
    </div>

    <div class="toggle-sidebar" (click)="toggleSidebarMenu()">
        <i class="pi pi-chevron-left arrow-icon"></i>
    </div>

  </div>
