@import '../../../src/assets/scss/variables';
@import '../../../src/assets/scss/mixins';


  .side_menu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $nav-color;
    width: inherit;

    .reset_btn {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: white;
      color: black;
      border-radius: 8px;
      margin-bottom: 8px;

      span:first-child {
        font-weight: 600;
      }

      span:last-child {
        &:hover {
          color: $primary-color;
          cursor: pointer;
        }
      }
    }

    &.collapsed {

      .toggle-sidebar {
        transform: rotate(180deg);
      }

      .menu details, .menu .reset_btn{
        display: none;
      }

    }

    .thematic_container {
      li {
        justify-content: space-between;
      }
    }

    .menu {
      width: 100%;
      padding: 0 1rem;
      margin-top: 215px;

      details {
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 0.5rem;
        width: 100%;
        transition: width .3s ease-in-out;
        overflow-y: hidden;

        summary {
          font-weight: 600;
          list-style: none;
          overflow: hidden;
          cursor: pointer;
          display: flex;
          justify-content: space-between;

          span {
            word-break: keep-all;
          }
        }

        ul {
          padding-top: 12px;

          li {
            display: flex;

            .thematic {
              display: flex;
            }

            .puce {
              width: 10px;
              height: 10px;
              margin-right: 5px;
              border-radius: 50%;
            }

            input[type="checkbox"] {
              margin: 0;
              border-radius: 3px;
            }

            label {
              color: #000;
              word-wrap: break-word;
            }
          }
        }
      }

      details[open] {
        i {
          transform: rotate(180deg);
        }
      }

      ul {
        .input_wrapper {
          input[type="checkbox"] {
            width: 1rem;
            height: 1rem;
            border: 1px solid #ddd;
            border-radius: 1rem;
            margin: auto 0;
          }

          label {
            margin-left: .8rem;
            display: flex;
            align-items: center;
            overflow: hidden;
          }
        }

        li {
          color: white;
          padding: 8px 5px;
          display: flex;
        }
      }

    }
  }

.toggle-sidebar {
  height: 100%;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: - 15px;
  top: 20%;
  height: 30px;
  width: 30px;
  background: color(primary-color);
  border-radius: 50%;

  .toggle-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
}
