
<div class="service">
    <p-toast></p-toast>

    <div class="card">
        <p-toolbar *ngIf="getRole() === 'admin'" styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nouveau" icon="pi pi-plus mr-2" class="p-button-success mr-2" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedServices()" [disabled]="!selectedServices || !selectedServices.length"></button>
            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="services"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['name', 'description', 'color']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedServices"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Tématiques de {first} à {last}"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="caption">
                <div class=" search_bar flex align-items-center justify-content-between">
                    <h5 class="m-0">Service</h5>
                    <span  *ngIf="getRole() === 'admin'" class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="p-inputtext p-component p-element" pInputText type="text" (input)="filterGlobal($event)" placeholder="Recherce" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                    </th>
                    <th pSortableColumn="name" style="min-width:15rem">Nom <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="image" style="min-width:15rem">Image <p-sortIcon field="image"></p-sortIcon></th>
                    <th pSortableColumn="description" style="min-width:15rem">Description <p-sortIcon field="description"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-service>
                <tr>
                    <td>
                        <p-tableCheckbox *ngIf="getRole() === 'admin'" [value]="service"></p-tableCheckbox>
                    </td>
                    <td>{{ service.name }}</td>
                    <td><img *ngIf="service.image" [src]="socketUrl + '/images/services/service'+ service.id + '/' + service.image" [alt]="'service_image'" width="50" class="shadow-4" /></td>
                    <td>{{ service.description }}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editService(service)"></button>
                        <button  *ngIf="getRole() === 'admin'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteService(service)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template  *ngIf="getRole() === 'admin'" pTemplate="summary">
                <div class="flex align-items-center justify-content-between">Au total, il y a {{ services ? services.length : 0 }} Services.</div>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="serviceDialog" (onHide)="onDialogHide()" [style]="{ width: '450px' }" header="Service" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
             <div class="field flex flex-column">
                <label for="name">Nom</label>
                <input  class="h-2rem" type="text" pInputText id="name" [(ngModel)]="service.name" required autofocus />
                <small class="p-error" *ngIf="submitted && !service.name">Le Nom est requis.</small>
              </div>
              <div class="field flex flex-column">
                  <label for="description">Description</label>
                  <textarea pInputText name="description" id="description" cols="30" rows="10" [(ngModel)]="service.description" required autofocus></textarea>
                  <small class="p-error" *ngIf="submitted && !service.description">La description est requise.</small>
              </div>
              <div class="field flex flex-column image-section">
                <div class="file-upload-wrapper">
                  <label for="myImage" class="custom-file-upload">{{ createService ? 'Ajouter une image' : 'Modifier l\'image' }}</label>
                  <span [ngClass]="{'show': !imageUrl}" class="custom-file-upload reset" (click)="resetImage()">Réinitialiser</span>
                </div>
                <input #fileInput id="myImage" type="file" (change)="onFileSelected($event)" accept="image/*">
                <img *ngIf="imageUrl" [src]="imageUrl" width="200" height="200" />
                <img *ngIf="!imageUrl && !createService && service.image" [src]="socketUrl + '/images/services/service'+ service.id + '/' + service.image" width="200" height="200" />
              </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" icon="pi pi-times mr-2" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer" icon="pi pi-check mr-2" class="p-button-text" (click)="saveService()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog  locale="fr" [style]="{ width: '450px' }" header="Confirmation" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
</div>
