<main class="reset-password container">

    <section class="reset-container">
        <h2>Reset Password</h2>
        <form class="reset-form" (ngSubmit)="onSubmit()" [formGroup]="resetForm">
          <div class="form-group">
              <label for="password">Nouveau mot de passe</label>
              <input type="password" formControlName="password" id="password" name="password" required>
          </div>
          <div class="form-group">
              <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
              <input type="password" formControlName="confirmPassword" id="confirmPassword" name="password" required>
          </div>
          <div class="form-group">
              <button type="submit">Envoyer</button>
          </div>
        </form>

        <p-toast></p-toast>

    </section>


</main>
