@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/fonts';

:host {
  height: calc(100vh - 100px);
  @include flex(row, nowrap, center, center);
}

.reset-container {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  font-family: $primary-font;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
