<form [formGroup]="jsonForm" (ngSubmit)="onSubmit()">
    <label for="photo">Chemin de la photo :</label>
    <input type="text" formControlName="photo"><br><br>
  
    <label for="description">Description du service :</label>
    <input type="text" formControlName="description"><br><br>
  
    <!-- Ajoutez d'autres champs pour chaque élément de "data" -->
    <label for="dataTitle">Titre du service 1 :</label>
    <input type="text" formControlName="dataTitle"><br><br>
  
    <label for="dataText">Texte du service 1 :</label>
    <input type="text" formControlName="dataText"><br><br>
  
    <button type="submit">Modifier</button>
  </form>
  