<div class="thematic container">
    <p-toast></p-toast>

    <div class="card">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nouveau" icon="pi pi-plus mr-2" class="p-button-success mr-2" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedThematics()" [disabled]="!selectedThematics || !selectedThematics.length"></button>
            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="thematics"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['name', 'description', 'color']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedThematics"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Tématiques de {first} à {last}"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="caption">
                <div class=" search_bar flex align-items-center justify-content-between">
                    <h5 class="m-0">Thématique</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="p-inputtext p-component p-element" pInputText type="text" (input)="filterGlobal($event)" placeholder="Recherce" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name" style="min-width:15rem">Nom <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="description" style="min-width:15rem">Description <p-sortIcon field="description"></p-sortIcon></th>
                    <th pSortableColumn="color" style="min-width:15rem">Couleur <p-sortIcon field="color"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-thematic>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="thematic"></p-tableCheckbox>
                    </td>
                    <td>{{ thematic.name }}</td>
                    <td>{{ thematic.description }}</td>
                    <td>{{ thematic.color }}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editThematic(thematic)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteThematic(thematic)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">Au total, il y a {{ thematics ? thematics.length : 0 }} Thématiques.</div>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="thematicDialog" (onHide)="onDialogHide()" [style]="{ width: '450px' }" header="Thématique" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
             <div class="field flex flex-column">
                        <label for="name">Nom</label>
                        <input  class="h-2rem" type="text" pInputText id="name" [(ngModel)]="thematic.name" required autofocus />
                        <small class="p-error" *ngIf="submitted && !thematic.name">Le Nom est requis.</small>
                    </div>
                    <div class="field flex flex-column">
                        <label for="description">Description</label>
                        <input class="h-2rem" type="text" pInputText id="description" [(ngModel)]="thematic.description" required autofocus />
                        <small class="p-error" *ngIf="submitted && !thematic.description">La description est requise.</small>
                    </div>
                    <div class="card flex flex-start">
                        <div class="field flex flex-column">
                            <label for="color">Couleur</label>
                            <p-colorPicker name="color" [(ngModel)]="thematic.color" [inline]="true"></p-colorPicker>
                            <small class="p-error" *ngIf="submitted && !thematic.color">La couleur est requise.</small>
                        </div>
                    </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" icon="pi pi-times mr-2" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer" icon="pi pi-check mr-2" class="p-button-text" (click)="saveThematic()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog  locale="fr" [style]="{ width: '450px' }" header="Confirmation" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
</div>
