.planning {
    margin-left: 150px;
    transition: all .3s ease-in-out;

    &.collapsed {
        margin-left: 0px;
    }

            margin-left: 300px;

            &.collapsed {
              margin-left: 40px;
            }
}
