@import '../../../styles.scss';

$text-color: #7d84ab;
$secondary-text-color: #dee2ec;

.side_menu {
    display: flex;
    flex-direction: column;
    background-color: color(nav-color);
    min-height: calc(100vh - 100px);
    height: 100%;
    min-width: 150px;

    nav {
      margin-top: 25px;
    }

  .menu-header {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: opacity 0.3s;
    opacity: 0.5;

    span {
      color: $text-color;
    }
  }

  .menu-item {

    a {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      color: $text-color;

      &:hover {
        background-color: $secondary-text-color;
        color: color(secondary-color);
      }
    }
  }
}