<div class="side_menu">
    <nav class="menu">
        <ul>
            <li class="menu-header">
                <span> DASHBOARD </span>
            </li>
            <li class="menu-item">
                <a [routerLink]="['/dashboard/profil']">
                    Profil
                </a>
            </li>
            <li *ngIf="getRole() === 'admin' || getRole() === 'admin_service'" class="menu-item">
                <a [routerLink]="['/dashboard/utilisateurs']">
                    Utilisateurs
                </a>
            </li>
            <li *ngIf="getRole() === 'admin' || getRole() === 'admin_service'" class="menu-item">
                <a [routerLink]="['/dashboard/services']">
                    Services
                </a>
            </li>
            <li class="menu-item">
                <a [routerLink]="['/dashboard/thematiques']">
                    Thematiques
                </a>
            </li>
              <li class="menu-item">
                <a [routerLink]="['/dashboard/timelines']">
                    Timelines
                </a>
            </li>
            <li class="menu-item">
                <a [routerLink]="['/dashboard/aide']">
                    Aide
                </a>
            </li>
        </ul>
    </nav>
</div>
