<div class="side_menu">
  <nav>
      <ul>
          <li class="menu-header">
              <span> DASHBOARD </span>
          </li>
          <li class="menu-item">
              <a [routerLink]="['/dashboard/profil']">
                  Profil
              </a>
          </li>
          <li class="menu-item">
              <a [routerLink]="['/dashboard/utilisateurs']">
                  Utilisateurs
              </a>
          </li>
          <li class="menu-item">
              <a [routerLink]="['/dashboard/services']">
                  Services
              </a>
          </li>
          <li class="menu-item">
              <a [routerLink]="['/dashboard/thematiques']">
                  Thematiques
              </a>
          </li>
            <li class="menu-item">
              <a [routerLink]="['/dashboard/timelines']">
                  Timelines
              </a>
          </li>
      </ul>
  </nav>
</div>
