@import '../../../styles.scss';

// * {
//   outline: 1px solid red;
// }

.side_menu {
  width: 200px;
  height: 100vh;
  transition: all .5s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  padding-top: 200px;
  background-color: color(secondary-color);

  ul {
    width: 100%;
    opacity: 1;
    transition: all .5s linear;
    overflow: hidden;


    li {
      width: 100%;
      color: white;
      padding: 8px 5px;

      .input_wrapper {
        display: flex;
      }

      input {
        margin-right: 8px;
      }

      label {
        word-break: keep-all;
      }

      &.menu-item {
        background-color: color(primary-color);
      }

      ul {
        margin-top: 8px;
        background-color: color(secondary-color);

        li {
          background-color: inherit;
        }
      }
    }
  }

  &.collapsed {
    width: 50px;

    ul {
      width: 0;
    }

    .wrapper_menu {
      width: 0px;
    }
  }

  .service_name {
    background-color: color(primary-color);
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .thematic_name {
    width: 100;
  }

  .thematic_name.active {
    width: 100%;
  }

  .toggle-sidebar {
    height: 100%;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 20%;
    height: 30px;
    width: 30px;
    background: color(primary-color);
    border-radius: 50%;
    transform: translate(50%, -50%);

    .arrow-icon {
      margin-right: 5px;
    }

    .toggle-btn {
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      outline: none;
    }
  }

  .wrapper_menu {
    padding-top: 200px;
    background-color: color(fourth-color);
    width: 150px;
  }
}

.communication {
  position: relative;
  transition: all .5s linear;

  .timeline_wrapper {
    padding: 20px;
    overflow: auto;
    transition: all .5s linear;
    width: calc(100% - 300px);

    margin-left: 300px;

    &.collapsed {
      width: calc(100% - 50px);
      margin-left: 50px;
    }
  }
}


button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 50px 0;

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.3rem;
  }
}

.timeline {
  position: relative;
  white-space: nowrap;
  max-width: 2300px;
  padding: 0 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 30px;
    width: 100px;
    z-index: 2;
  }

  &::after {
    right: 0;
    background: linear-gradient(270deg, red);
  }

  &::before {
    left: 340px;
    background: linear-gradient(90deg, red);
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    color: white;
    white-space: normal;
    border-radius: 10px;
    background-color: color(primary-color);

    img {
      margin-bottom: 20px;
    }

    p {
      margin-top: 10px;
      color: var(white);
    }

    a {
      text-decoration: none;
    }
  }

  ol::-webkit-scrollbar {
    height: 12px;

    &-thumb,
    &-track {
      border-radius: 92px;
    }

    &-thumb {
      background: color(primary-color);
    }

    &-track {
      background: color(third-color);
    }
  }

  ol {
    font-size: 0;
    padding: 250px 0;
    transition: all .5s linear;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-color: color(primary-color) color(third-color);

    li {
      position: relative;
      display: inline-block;
      list-style-type: none;
      width: 160px;
      height: 5px;
      background: color(primary-color);
      scroll-snap-align: start;

      &:not(:first-child) {
        margin-left: 14px;
      }

      .card_selected {
        filter: brightness(0.5);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(100%);
        bottom: 0;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        border-radius: 50%;
        background: color(sixth-color);
        z-index: 1;
      }

      div {
        position: absolute;
        left: calc(100% + 7px);
        width: 280px;
        padding: 15px;
        font-size: 1rem;
        white-space: normal;
        color: black;
        background: white;
        border-radius: 0 10px 10px 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }

      &:nth-child(odd) {
        div {
          top: -16px;
          border-radius: 10px 10px 10px 0;
          &:not(.puces) {
            &:not(.puce) {
            transform: translateY(-100%);
            }
          }

          &::before {
            top: 100%;
            border-width: 8px 8px 0 0;
            border-color: white transparent transparent transparent;
          }
        }
      }

      &:nth-child(even) {
        div {
          top: calc(100% + 16px);

          &::before {
            top: -8px;
            border-width: 8px 0 0 8px;
            border-color: transparent transparent transparent white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .timeline {
    display: block;

    &::before,
    &::after {
      width: 50px;
    }

    &::before {
      left: 0;
    }

    .info {
      display: none;
    }
  }
}

.menu .sub-menu {
  display: none;
}

.menu-item label {
  cursor: pointer;
}

.menu .sub-menu.active {
  display: block;
}
