.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*global timeline style*/
.timeline-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1aa6a6;
    margin-bottom: 3px;
    border-radius: 10px;
}

/*header timeline style*/
.timeline-header{
    aspect-ratio: 0.5;
    max-height: 500px;
    max-width: 300px;
    border-radius: 5%;
    background-color: #4a66a8;

    .container{
        flex-direction: column;
        padding: 20px 40px;
        h2{
            color: #f1f1f1;
        }
        p{
            color: #1f1f1f;
            margin: 10px;
            padding: 0;
        }
    }
}

/*content timeline style*/
:host ::ng-deep {
    .p-timeline-event:last-child{
        flex: 1;
    }
    .custom-timeline{
        height: 500px;
        border-radius: 5%;
        width: 100%;
        padding: 0 50px;
        overflow-x: auto;
        
        .custom-marker{
            width: 20px;
            height: 20px;
            border-radius: 20px;
            border: solid 1px #f1f1f1;
        }

        .custom-card{
            .custom-card-header{
                display: block;
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: 8px;
                color: #4a66a8;
            }
            .custom-card-content{
                display: block;
                font-size: 1rem;
                color: #1f1f1f;
                max-width: 230px;
                overflow-y: auto;
                word-wrap: break-word;
                white-space: normal;
                max-height: 100px;

            }
        }
    }
}