<mat-list>
  <mat-list-item *ngFor="let service of GlobalArray, let i = index">
      <div class="timeline-container" *ngIf="i>0">
          <div class="timeline-header container">
              <div class="container">
                  {{ service.dep }}
              </div>
          </div>
          <p-timeline class="custom-timeline" *ngIf="service.services$ && i>0" [value]="service.services$" layout="horizontal" align="top">
              <ng-template pTemplate="marker" let-event>
                  <div class="custom-marker" [style]="getMarkerBackground(event)">
                      
                  </div>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                  
                  <p-sidebar [(visible)]="sidebarVisible[i][service.services$.indexOf(event)]" styleClass="w-100rem" position="right">
                      <ng-template pTemplate="header">
                          <h1 [style]="getTextColor(event)">{{ event.titre }}</h1>
                      </ng-template>
                      <ng-template pTemplate="content">
                          <div class="custom-card-content">
                              <img src="{{ event.image }}" alt="Image" class="custom-card-image" />
                              <p>{{ event.texte }}</p>
                          </div>
                      </ng-template>
                      <ng-template pTemplate="footer">
                          <p>Debut: {{ event.dateStart }}</p>
                          <p>Fin: {{ event.dateEnd }}</p>
                      </ng-template>
                  </p-sidebar>
      
                  <p-button type="button" [link]="true" (click)="sidebarVisible[i][service.services$.indexOf(event)] = true">
                      <p-card [style]="getTextColor(event)" class="custom-card container">
                          <ng-template pTemplate="header">
                              <div class="custom-card-header">
                                  {{ event.titre }}
                              </div>
                          </ng-template>
                          <ng-template pTemplate="content">
                              <p class="custom-card-content">
                                  {{ event.texte }}
                              </p>
                          </ng-template>
                      </p-card>
                  </p-button>
              </ng-template>
          </p-timeline>
      </div>
  </mat-list-item>
</mat-list>
