@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.timeline-communication {
  position: relative;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 20px;

  &:not(:last-of-type) {
      padding-bottom: 60px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    color: white;
    white-space: normal;
    border-radius: 10px;
    background-color: color(primary-color);

  .image-wrapper {
      width: 120px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      margin-top: 10px;
      color: var(white);
    }

  }


  ol {
    font-size: 0;
    padding: 250px 0;
    transition: all .5s linear;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-color: color(primary-color) color(third-color);

    li {
      position: relative;
      display: inline-block;
      list-style-type: none;
      width: 160px;
      height: 5px;
      background: color(primary-color);
      scroll-snap-align: start;

      &:not(:first-child) {
        margin-left: 14px;
      }

      .card_selected {
        filter: brightness(0.5);
      }

      .puces {
        width: 100%;
        height: 10px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        gap: 5px;

        .puce {
          width: 10px;
          display: block;
          height: 10px;
          border-radius: 50%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(100%);
        bottom: 0;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        border-radius: 50%;
        background: color(sixth-color);
        z-index: 1;
      }

      div {
        position: absolute;
        left: calc(100% + 7px);
        width: 280px;
        padding: 15px;
        font-size: 1rem;
        white-space: normal;
        color: black;
        background: white;
        border-radius: 0 10px 10px 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }

      &:nth-child(odd) {
        div {
          top: -16px;
          border-radius: 10px 10px 10px 0;

          &:not(.puces) {
            &:not(.puce) {
              transform: translateY(-100%);
            }
          }

          &::before {
            top: 100%;
            border-width: 8px 8px 0 0;
            border-color: white transparent transparent transparent;
          }
        }
      }

      &:nth-child(even) {
        div {
          top: calc(100% + 16px);

          &::before {
            top: -8px;
            border-width: 8px 0 0 8px;
            border-color: transparent transparent transparent white;
          }
        }
      }
    }
  }
}
