<main class="home" [ngClass]="{ 'collapsed': filterService.isCollapsed }">
  <app-filter></app-filter>

  <section class="timeline">

    <ul class="choice">
      <li [class.active]="displayCommunication"><a (click)="showTimeLine('communication')">communication</a></li>
      <li [class.active]="displayPlanning"><a (click)="showTimeLine('planning')">Planning</a></li>
    </ul>

    <app-communication *ngIf="displayCommunication"></app-communication>
    <app-planning *ngIf="displayPlanning && this.filterService.isFullLoad"></app-planning>

  </section>

</main>
