<main class="connexion container">

    <section class="formulaire">

      <div class="logo-wrapper">
        <img src="../../../assets/laposte.png" alt="shape">
      </div>

      <div class="form-wrapper">

        <h1 class="title">Connexion</h1>

        <form class="registration-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Mot de Passe</label>
            <input type="password" formControlName="password" id="password" name="password" required>
          </div>
          <button type="submit">Se connecter</button>
        </form>

        <div class="links">
          <a routerLink="/forgot-password">Mot de passe oublié ?</a>
        </div>

        <p-toast></p-toast>

      </div>

    </section>

</main>
