<div class="timeline_wrapper">
     <section *ngFor="let service of services | async | keyvalue" class="timeline">
      <div class="info">
        <img width="50" height="50" src="https://assets.codepen.io/210284/face.svg" alt=""/>
        <h2>{{service.key | uppercase }}</h2>
        <p>{{ service.value.description }}</p>
      </div>
      <ol>
        <li *ngFor="let data of service.value.data">
          <div (click)="sidebarVisible = true" (click)="openSidebar(data.titre, data.texte)">
            <time> {{data.titre}}</time> 
            <p>{{data.texte}} </p>
          </div>
        </li>
      </ol>
      <p-sidebar [(visible)]="sidebarVisible" position="right">
        <h3>{{sidebarData.title}}</h3>
        <p>{{sidebarData.text}}</p>
      </p-sidebar>
    </section>
</div>
