<header>
    <div class="container">
        <nav>
            <ul>
                <li><a [routerLink]="['']"><img src="../../assets/iTEAM.png" alt="i-TEAM"></a></li>
                <li *ngIf="isConnect()">
                    <a (click)="logout()">Déconnexion</a>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li *ngIf="!isConnect()"><a [routerLink]="['connexion']">Connexion</a></li>
            </ul>
        </nav>
    </div>
</header>