<header>
    <div class="container">
        <nav>
            <ul>
                <li class="logo-header"><a [routerLink]="['']"><img src="../../assets/iTEAM.jpg" alt="i-TEAM"></a></li>
                <li *ngIf="hasToken">
                    <a [routerLink]="['/dashboard/profil']">Dashboard</a>
                </li>
                <li *ngIf="hasToken">
                    <a (click)="logout()">Déconnexion</a>
                </li>
                <li *ngIf="!hasToken"><a [routerLink]="['connexion']">Connexion</a></li>
            </ul>
        </nav>
    </div>
</header>
