@import './assets/scss/primeng';
@import './assets/scss/variables';
@import './assets/scss/mixins';
@import './assets/scss/global';
@import './assets/scss/fonts';
@import './assets/scss/vis-timeline';

 .markdown {
  margin-bottom: 30px;

  p {
    margin-top: 0;
  }
 }

 .markdown_detail {
  hr {
    display: none;
  }
 }

 .communication-markdown > *:not(p) {
    display: none;
 }

  @media screen and (max-width: 600px) {

    .prime-btn-override {

      button span {
        margin: 0 !important;
      }

      .p-button-label {
        display: none;
      }
    }
  }

  @media screen and (max-width: 749px) {

    .prime-search-override {

      flex-direction: column !important;
      gap: 5px !important;
      align-items: start !important;

      input {
        width: 100% !important;
      }
    }
  }


