@import './assets/scss/primeng';
@import './assets/scss/variables';
@import './assets/scss/mixins';
@import './assets/scss/global';
@import './assets/scss/fonts';
@import './assets/scss/vis-timeline';

 .markdown {
  margin-bottom: 30px;

  p {
    margin-top: 0;
  }
 }

 .communication-markdown > *:not(p) {
    display: none;
 }
