@import '../../../styles.scss';

$black: #070707;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

body {
  background: linear-gradient(to right, $fourth-color, $fifth-color);
}

.container {
      display: flex;
        flex-direction: column;
        align-items: center;

}

.profile{
        background: white;
        height: 420px;
        position: relative;
        box-shadow: 2px 5px 20px rgba($fifth-color, .5);

        width: 100%;
        max-width: 699px;
        padding: 0 20px;
}

h1 {
  color: $primary-color;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: $fifth-color;
  width: 80%;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, $secondary-color, rgba($primary-color,.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-size: .7em;
  padding: 7px 0;
  color: $black;
}

.editButton{
  position: absolute;
  left: 10px;
  bottom: 10px
}