<div class="timeline">
    <p-toast></p-toast>

    <div class="card">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nouveau" icon="pi pi-plus mr-2" class="p-button-success mr-2" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedTimelines()" [disabled]="!selectedTimelines || !selectedTimelines.length"></button>
            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="timelines"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['title', 'date_start', 'date_end', 'service_id']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedTimelines"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Timelines de {first} à {last}"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="caption">
                <div class=" search_bar flex align-items-center justify-content-between">
                    <h5 class="m-0">Timeline</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="p-inputtext p-component p-element" pInputText type="text" (input)="filterGlobal($event)" placeholder="Recherce" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                    </th>
                    <th pSortableColumn="title" style="min-width:15rem">Titre <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="date_start" style="min-width:15rem">Date de début <p-sortIcon field="date_start"></p-sortIcon></th>
                    <th pSortableColumn="date_end" style="min-width:15rem">Date de fin <p-sortIcon field="date_end"></p-sortIcon></th>
                    <th pSortableColumn="service_id" style="min-width:15rem">Service <p-sortIcon field="service_id"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-timeline>
                <tr>
                    <td>
                    </td>
                    <td>{{ timeline.title }}</td>
                    <td>{{ timeline.date_start }}</td>
                    <td>{{ timeline.date_end }}</td>
                    <td>{{ timeline.Service.name }}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTimeline(timeline)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTimeline(timeline)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">Au total, il y a {{ timelines ? timelines.length : 0 }} Timelines.</div>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="timelineDialog" (onHide)="onDialogHide()" [style]="{ width: '50vw'}" header="Timeline" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

                    <div class="field flex flex-column">
                        <label for="name">Titre</label>
                        <input  class="h-2rem" type="text" pInputText id="name" [(ngModel)]="timeline.title" required autofocus />
                        <small class="p-error" *ngIf="submitted && !timeline.title">Le Titre est requis.</small>
                    </div>

                    <div class="field flex flex-column">
                      <label for="texte">Texte</label>
                      <textarea pInputText name="texte" id="texte" cols="30" rows="10" [(ngModel)]="timeline.text"></textarea>
                      <small class="p-error" *ngIf="submitted && !timeline.text">La text est requis.</small>
                    </div>

                    <div class="field flex-column markdown">
                      <label for="excerpt">Extrait</label>
                      <markdown [data]="shareService.truncateText(timeline.text)"></markdown>
                    </div>

                    <div class="field flex flex-column image-section">
                      <div class="file-upload-wrapper">
                        <label for="myImage" class="custom-file-upload">{{ createTimeline ? 'Ajouter une image' : 'Modifier l\'image' }}</label>
                        <span [ngClass]="{'show': !imageUrl}" class="custom-file-upload reset" (click)="resetImage()">Réinitialiser</span>
                      </div>
                      <input #fileInput id="myImage" type="file" (change)="onFileSelected($event)" accept="image/*">
                      <img *ngIf="imageUrl" [src]="imageUrl" width="200" height="200" />
                      <img *ngIf="!imageUrl && !createTimeline && timeline.image" [src]="socketUrl + '/images/services/service'+ timeline.service_id + '/timeline' + timeline.id + '/' + timeline.image" width="200" height="200" />
                    </div>

                   <div class="field flex gap-5 date flex-wrap">
                    <div class="flex gap-2 flex-wrap">
                      <label for="date_start">Date de Début:</label>
                      <input type="date" id="date_start" name="date_start" [(ngModel)]="timeline.date_start" />
                    </div>
                    <div class="flex gap-2 flex-wrap">
                       <label for="date_end">Date de fin:</label>
                        <input type="date" id="date_end" name="date_end" [(ngModel)]="timeline.date_end" />
                    </div>

                    </div>

                    <div class="thematicList">
                      <span for="thematicList">Thématiques</span>
                      <div class="thematicList-wrapper">

                        <ng-container *ngFor="let thematicItem of thematicList">
                          <div class="thematicList-wrapper__item">
                            <input type="checkbox" class="form-check-input" id="thematic_{{thematicItem.id}}" name="thematic_{{thematicItem.id}}" (click)="updateThematic($event, timeline.id, thematicItem)" [checked]="isChecked(timeline.Thematics, thematicItem.id)">
                            <label class="form-check-label" for="thematic_{{thematicItem.id}}">{{thematicItem.name}}</label>
                          </div>
                        </ng-container>

                      </div>
                  </div>

                  <div class="field flex flex-column">
                    <label for="service">Service</label>
                    <select class="h-2rem" id="service" [(ngModel)]="timeline.service_id" required autofocus>
                        <option *ngFor="let service of serviceList" value="{{service.id}}">{{service.name | titlecase}}</option>
                    </select>
                    <small class="p-error" *ngIf="submitted && !timeline.service_id">Le service est requis.</small>
                  </div>

        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" icon="pi pi-times mr-2" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer" icon="pi pi-check mr-2" class="p-button-text" (click)="saveTimeline()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog  locale="fr" [style]="{ width: '450px' }" header="Confirmation" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
</div>
