:host {
  width: calc(100% - 180px);
  margin: 50px auto;
  padding: 0 30px;
}

.thematic_list {

  .puce {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}

.btn_action {
  display: flex;
}

.thematicList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;

  &-wrapper {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    &__item {

      display: flex;
    }
  }
}

#date_start, #date_end {
  border: none;
  &:hover, &:focus, &:active {
    border: none;
  }
}

input[type="file"] {
  color: transparent;
  display: none;
}

.custom-file-upload {
  border: 1px solid #bdbdbd;
  display: inline-block;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
  background-color: #626262;

  &.show {
    display: none;
  }

  &.reset {
    background-color: #acacac;

    &:hover {
      background-color: #838383;
    }

  }

  &:hover {
    background-color: #3f3f3f;
  }
}

.image-section {
  img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}

.file-upload-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

textarea {
  max-width: 100%;
}
