@import '../../styles.scss';

.dashboard{
    display: flex;

    app-sidemenu{
        width: 180px;
    }
    
    .wrapper-component{
        width: calc(100% - 180px);
        padding: 60px 0;
    }
}

