@import '../../styles.scss';

.dashboard{
    display: flex;

    app-sidemenu{
        width: 180px;
    }
    
    .wrapper-component{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}